.nav.global-nav {
  max-width: 75px;
  background: $black;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  font-size: 0.7rem;
  text-align: center;
  .nav-link {
    padding: 15px 8px;
    border-radius: 0;
    position: relative;
    color: lighten($black, 30);
    transition: all 0.3s ease;
    border-bottom: 1px solid lighten($black, 8);
    .fas {
      font-size: 1.5em;
    }
    &:hover,
    &.active {
      color: #fff;
      background: darken($black, 5);
    }
  }
}

.nav-tabs {
  cursor: pointer;
  margin-top: 15px;
  border-bottom: none;
  position: relative;
  z-index: 99;
  .nav-link {
    opacity: 0.35;
    font-size: 0.8em;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.08);
    &.active {
      opacity: 1;
    }
  }
}

.tab-pane {
  background: #fff;
  border: 1px solid $border;
  border-radius: 5px;
  margin-top: -1px;
  padding: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
}

.relation-wrapper {
  width: 100%;
  margin-bottom: 8px !important;
  .form-control {
    width: calc(50% - 24px);
    margin-right: 10px;
  }
}
