.btn {
  border: none;
  &.btn-success {
    background-color: $green;
    &:hover {
      background-color: darken($green, 5);
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem transparentize($green, 0.25);
    }
    &:active {
      background-color: darken($green, 10) !important;
      box-shadow: 0 0 0 0.2rem transparentize($green, 0.25) !important;
    }
  }
  &.btn-danger {
    background: $red;
    &:hover {
      background-color: darken($red, 5);
    }
  }
}

.btn-add {
  border: 1px dashed $grey;
  color: $grey;
  opacity: 0.5;
  &:hover {
    background-color: $green;
    border: 1px solid transparent;
    opacity: 1;
  }
  &:focus {
    border: 1px solid $green;
    box-shadow: 0 0 0 0.2rem transparentize($green, 0.25);
  }
}
