.card {
  border: 1px solid $border;
  margin-bottom: 16px;
  box-shadow: $shadows;
  background: lighten($bg, 2.5);
  transition: $ease;
  .card-header {
    background: #fff;
    padding: 12px 20px;
    border-bottom: 1px solid $border;
    font-size: 0.85em;
    font-weight: 500;
    transition: $ease;
  }
  .card-body {
    padding-top: 6px;
  }
}
