.form-control {
  transition: $ease;
}
.form-group {
  margin-bottom: 2px;
}

/* Checkboxes */
.custom-checkbox {
  top: 30%;
  padding: 8px 24px;
  .custom-control-label {
    cursor: pointer;
    &::before,
    &::after {
      top: 0;
    }
  }
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $dark-blue;
}
/* Resources */
.resource-wrapper {
  margin-top: 6px;
}
