.hidden {
  display: none !important;
}
.disabled {
  opacity: 0.25 !important;
  filter: none !important;
  pointer-events: none;
}
.gutter-top {
  margin-top: 6px;
}
.gutter-bottom {
  margin-bottom: 18px !important;
}
.align-center {
  display: flex;
  justify-content: center;
  > * {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 16px;
  }
}

.text-danger {
  color: $red;
}
