.modal {
  color: $grey;
  h6 {
    text-align: center;
  }
}

.modal-backdrop {
  &.show {
    opacity: 0.75;
  }
}

.dark.modal-dialog {
  color: $dark-blue;
  .modal-header {
    border-bottom: 1px solid $dark-border;
    font-family: "Quicksand", sans-serif;
  }
  .modal-footer {
    border-top: 1px solid $dark-border;
  }
  .modal-content {
    background: lighten($black, 2.5);
    box-shadow: $dark-shadows;
    border: 1px solid $dark-border;
  }
  .form-control {
    background: $black;
    border: 1px solid $dark-border;
    color: #fff;
    &:focus {
      border: 1px solid $blue;
    }
    &[readonly] {
      background: lighten($black, 2.5);
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.close {
  text-shadow: none;
  color: $grey;
}
