.global-nav {
  width: 60px;
  background: $black;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  font-size: 0.65rem;
  letter-spacing: 0;
  text-align: center;
  border-right: 1px solid $dark-border;
  z-index: 999;
  box-shadow: $dark-shadows;
  .nav-link {
    padding: 10px 6px;
    height: 53.5px;
    border-radius: 0;
    position: relative;
    color: $dark-blue;
    transition: all 0.3s ease;
    border-bottom: 1px solid $dark-border;
    pointer-events: none;
    .fas {
      font-size: 1.5em;
    }
    &:hover,
    &.active {
      color: #fff;
      background: darken($black, 5);
      pointer-events: auto;
    }
  }
}
.inline-wrapper {
  width: 100%;
  margin-bottom: 8px !important;
  .form-control {
    width: calc(50% - 24px);
    margin-right: 10px;
    float: left;
  }
}

@media (min-width: 768px) {
  .col-md-20 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.top-navbar {
  background: #fff;
  position: absolute;
  padding: 12px;
  top: 0;
  left: 60px;
  width: calc(100% - 60px);
  box-shadow: $shadows;
  border-bottom: 1px solid $border;
  z-index: 998;
  transition: background-color 0.3s linear, border-color 0.3s linear,
    box-shadow 0.3s ease;
  .nav {
    justify-content: space-between;
    max-width: 890px;
  }
  .title {
    font-size: 1.25em;
    font-weight: 200;
    margin: 0 8px 0 0;
    line-height: 1.25em;
    float: left;
  }
  .nav-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .link {
    font-size: 0.85em;
    color: $grey;
    opacity: 0.5;
    transition: $ease;
    &:hover {
      opacity: 1;
    }
  }
  .nav-wrapper > .btn {
    margin: 0 0 0 6px;
  }
}
.modal-open .top-navbar {
  width: calc(100% - 75px);
}
.bottom-menu {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.theme-toggle {
  border-radius: 0;
  width: 50%;
  background: none;
  color: $dark-blue;
  &:active,
  &:focus {
    box-shadow: none !important;
    background: none !important;
  }
  &:hover {
    background-color: $black;
  }
  &:first-child {
    border-left: none;
  }
  &.active {
    color: #fff !important;
    background: none !important;
    border-color: $dark-border !important;
    pointer-events: none;
  }
}
