$black: #272c36;
$bg: #f3f4f7;
$border: #d9dfe4;
$dark-border: lighten($black, 10);
$grey: lighten($black, 25);

$dark-blue: lighten($black, 40);
$blue: #0b75b3;
$green: #20ad9b;
$red: #e65454;
$orange: #e69233;

$shadows: 0 0 3px transparentize($black, 0.88);
$dark-shadows: 0 0 3px 0 black;
$ease: all 0.2s linear;
$str: 8;

@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500");

@import "./helpers";
@import "./buttons";
@import "./cards";
@import "./tabs";
@import "./toasters";
@import "./alerts";
@import "./forms";
@import "./modals";
@import "./navbars";

.wrapper {
  background: $bg;
  color: $grey;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.05em;
  padding-bottom: 100px;
  padding-left: 65px;
  padding-top: 85px;
  transition: $ease;

  &.dark {
    background: $black;
    color: $dark-blue;
    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: darken($dark-blue, 10);
      opacity: 1; /* Firefox */
    }

    .top-navbar {
      background: lighten($black, 5);
      border-bottom: 1px solid $dark-border;
      box-shadow: $dark-shadows;
    }
    .card {
      background: lighten($black, 2.5);
      border: 1px solid $dark-border;
      box-shadow: $dark-shadows;
      .card-header {
        background: lighten($black, 5);
        border-bottom: 1px solid $dark-border;
      }
    }
    .form-control {
      background: $black;
      border: 1px solid $dark-border;
      color: #fff;
      &:focus {
        border: 1px solid $blue;
      }
    }
    .nav-tabs {
      .nav-link {
        background: lighten($black, 2.5);
        border: 1px solid $dark-border;
        color: $dark-blue;
        border-bottom: none;
        box-shadow: 0 -1px 2px 0 transparentize(black, 0.5);
        &.active {
          background: lighten($black, 5);
          color: #fff;
        }
        &:hover {
          background: $black;
        }
      }
    }
    .custom-checkbox
      .custom-control-input:checked
      ~ .custom-control-label::before {
      background-color: $dark-blue;
    }
    .tab-pane {
      background: lighten($black, 5);
      border: 1px solid $dark-border;
      box-shadow: $dark-shadows;
    }
    .btn-add {
      color: $dark-blue;
      border: 1px dashed $dark-blue;
      &:hover {
        color: #fff;
        border: 1px solid transparent;
      }
    }
    .badge {
      background: $dark-blue;
    }
  }
}

label {
  margin: 10px 0 0 0;
  font-size: 0.75em;

  .badge {
    margin-left: 3px;
    background-color: $grey;
    cursor: help;
  }
}

textarea {
  min-height: 100px;
}

.main-container {
  max-width: 960px;
  margin: 0 auto;
}

.tooltip-inner {
  font-family: "Quicksand";
  font-size: 0.85em;
  padding: 8px 12px;
}
