$black: #2d3741;
$bg: #f3f4f7;
$grey: #888b8e;
$blue: #2a4c80;

@import "../components/navbar/navbar";

body {
  background: $bg;
  color: $grey;
  padding-left: 75px;
}

label {
  margin: 0;
  font-size: 0.75em;
}
.form-group {
  margin-bottom: 2px;
}

.hidden {
  display: none;
}
